###############################################
# Minimal Requirements for Databricks Runtime #
###############################################
black[jupyter]
databricks-sdk[notebook] ; python_version >= "3.10"
delta-spark
ipykernel
matplotlib
mlflow-skinny
pip
pyccolo
pyspark[connect]
setuptools
#######################
# Additional Packages #
#######################
# torch
