###############################################
# Minimal Requirements for Databricks Runtime #
###############################################
black[jupyter] ; python_version >= "3.9"
databricks-sdk[notebook] ; python_version >= "3.10"
ipykernel
matplotlib
pip
pyccolo ; python_version >= "3.11"
pyspark[connect,ml,sql]
setuptools
#######################
# Additional Packages #
#######################
# deltaspark
# mlflow-skinny
