name: ci

on:
  push:
    branches: [main]
    tags: ["**"]
  pull_request:
    branches: [main]
  merge_group:
    branches: [main]

  # rebuild weekly
  schedule:
    - cron: 0 0 * * 0

  workflow_call:
    inputs:
      push_image:
        description: Push image
        required: false
        default: false
        type: boolean

  workflow_dispatch:
    inputs:
      push_image:
        description: Push image
        required: false
        default: false
        type: boolean

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref_name != github.event.repository.default_branch }}

jobs:
  bake-targets:
    runs-on: ubuntu-latest
    outputs:
      targets: ${{ steps.bake-targets.outputs.targets }}

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - id: bake-targets
        uses: docker/bake-action/subaction/list-targets@3acf805d94d93a86cce4ca44798a76464a75b88c # v6

  docker-bake:
    permissions:
      packages: write

    needs: [bake-targets]
    strategy:
      fail-fast: false
      matrix:
        target: ${{ fromJson(needs.bake-targets.outputs.targets) }}

    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: ghcr.io/${{ github.repository }}
      PUSH_IMAGE: ${{ github.event_name == 'push' || inputs.push_image }}
    steps:
      # - run: |
      #     echo "${PUSH_IMAGE}"
      #     echo "${{ fromJson(env.PUSH_IMAGE) }}"
      #     echo "${{ ! fromJson(env.PUSH_IMAGE) }}"

      - uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3

      - uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3

      - if: ${{ fromJson(env.PUSH_IMAGE) }}
        uses: docker/login-action@184bdaa0721073962dff0199f1fb9940f07167d1 # v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ github.token }}

      - id: bake
        uses: docker/bake-action@3acf805d94d93a86cce4ca44798a76464a75b88c # v6
        with:
          targets: ${{ matrix.target }}
          load: ${{ ! fromJson(env.PUSH_IMAGE) }}
          push: ${{ env.PUSH_IMAGE }}
          provenance: ${{ env.PUSH_IMAGE }}
          sbom: ${{ env.PUSH_IMAGE }}

      - if: ${{ ! fromJson(env.PUSH_IMAGE) }}
        run: docker run "${IMAGE_TAG}" uv pip list
        env:
          IMAGE_TAG: ${{ fromJson(steps.bake.outputs.metadata)[matrix.target]['image.name'] }}

      - if: ${{ fromJson(env.PUSH_IMAGE) }}
        run: docker compose run --rm ${{ matrix.target }} uv pip list
